{
  "openapi": "3.0.0",
  "info": {
    "title": "Free: SearXNG (Search Engine)",
    "version": "1.0.1"
  },
  "servers": [
    {
      "url": "https://baresearch.org",
      "description": "SearXNG instance URL."
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "summary": "Perform a search query (GET)",
        "operationId": "SearXNGSearch",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The search query string.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": { "type": "string" },
                          "link": { "type": "string" },
                          "snippet": { "type": "string" }
                        },
                        "required": ["title", "link"]
                      }
                    },
                    "total": { "type": "integer" }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters."
          }
        }
      }
    }
  }
}
