{
    "openapi": "3.1.0",
    "info": {
      "title": "[Paid] Search, Extract Urls | Tavily",
      "version": "2.0.1",
      "description": "The search engine designed specifically for AI agents, providing LLM-optimized web search and powerful content extraction capabilities."
    },
    "servers": [
      {
        "url": "https://api.tavily.com",
        "description": "Production server"
      }
    ],
    "paths": {
      "/search": {
        "post": {
          "summary": "Search the web",
          "description": "Tavily's powerful web search API optimized for LLMs and AI agents, providing relevant and accurate information with proprietary AI ranking.",
          "operationId": "search-Tavily",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string",
                      "description": "The search query to execute."
                    },
                    "topic": {
                      "type": "string",
                      "enum": ["general", "news"],
                      "default": "general",
                      "description": "Search category. Use 'news' for recent events, politics, sports, and current affairs. Use 'general' for broader searches."
                    },
                    "search_depth": {
                      "type": "string",
                      "enum": ["basic", "advanced"],
                      "default": "basic",
                      "description": "Search depth. 'advanced' retrieves more relevant sources (2 credits), while 'basic' provides general results (1 credit)."
                    },
                    "chunks_per_source": {
                      "type": "integer",
                      "default": 1,
                      "minimum": 1,
                      "maximum": 3,
                      "description": "The number of content chunks to retrieve from each source. Each chunk's length is maximum 500 characters. Available only when search_depth is advanced."
                    },
                    "max_results": {
                      "type": "integer",
                      "default": 5,
                      "minimum": 1,
                      "maximum": 20,
                      "description": "Maximum number of search results to return.",
                      "example": 5
                    },
                    "time_range": {
                      "type": "string",
                      "enum": ["d", "w", "m", "y"],
                      "description": "Time range to filter results from current date."
                    },
                    "days": {
                      "type": "integer",
                      "default": 7,
                      "minimum": 1,
                      "description": "Number of days back to include. Only used when topic is 'news'."
                    },
                    "include_answer": {
                      "type": "boolean",
                      "default": false,
                      "description": "Include an AI-generated answer to the query. Use true for quick answers, 'advanced' for detailed answers."
                    },
                    "include_raw_content": {
                      "type": "boolean",
                      "default": false,
                      "description": "Include the cleaned HTML content of each search result."
                    },
                    "include_images": {
                      "type": "boolean",
                      "default": false,
                      "description": "Include image search results."
                    },
                    "include_image_descriptions": {
                      "type": "boolean",
                      "default": false,
                      "description": "Add descriptive text for each image. Only applies when include_images is true."
                    },
                    "include_domains": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of domains to specifically include in results."
                    },
                    "exclude_domains": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of domains to specifically exclude from results."
                    }
                  },
                  "required": ["query"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Search results",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "query": {
                        "type": "string",
                        "description": "The original search query."
                      },
                      "answer": {
                        "type": "string",
                        "description": "AI-generated answer to the query, if requested."
                      },
                      "images": {
                        "type": "array",
                        "description": "Image search results, if requested.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "URL of the image."
                            },
                            "description": {
                              "type": "string",
                              "description": "Description of the image, if requested."
                            }
                          }
                        }
                      },
                      "results": {
                        "type": "array",
                        "description": "Search results.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string",
                              "description": "Title of the search result."
                            },
                            "url": {
                              "type": "string",
                              "description": "URL of the search result."
                            },
                            "content": {
                              "type": "string",
                              "description": "Snippet of content from the search result."
                            },
                            "score": {
                              "type": "number",
                              "description": "Relevance score of the result."
                            },
                            "raw_content": {
                              "type": ["string", "null"],
                              "description": "Full cleaned HTML content, if requested."
                            }
                          }
                        }
                      },
                      "response_time": {
                        "type": "number",
                        "description": "Time in seconds to complete the request."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/extract": {
        "post": {
          "summary": "Extract web content",
          "description": "Tavily's powerful content extraction API that efficiently extracts clean, structured content from web pages.",
          "operationId": "extract-Tavily",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "urls": {
                      "type": "array",
                      "items": {
                      "type": "string"
                      },                        
                      "description": "URL(s) to extract content from."
                    },
                    "include_images": {
                      "type": "boolean",
                      "default": false,
                      "description": "Include images found in the extracted content."
                    },
                    "extract_depth": {
                      "type": "string",
                      "enum": ["basic", "advanced"],
                      "default": "basic",
                      "description": "Extraction depth. 'advanced' retrieves more data including tables (2 credits per 5 URLs), 'basic' extracts main content (1 credit per 5 URLs)."
                    }
                  },
                  "required": ["urls"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Extracted content",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "results": {
                        "type": "array",
                        "description": "Successfully extracted content.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "URL that was extracted."
                            },
                            "raw_content": {
                              "type": "string",
                              "description": "Extracted content from the URL."
                            },
                            "images": {
                              "type": "array",
                              "description": "Images found in the content, if requested.",
                              "items": {
                                "type": "string",
                                "description": "URL of an image."
                              }
                            }
                          }
                        }
                      },
                      "failed_results": {
                        "type": "array",
                        "description": "URLs that failed extraction.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "URL that failed extraction."
                            },
                            "error": {
                              "type": "string",
                              "description": "Error message explaining the failure."
                            }
                          }
                        }
                      },
                      "response_time": {
                        "type": "number",
                        "description": "Time in seconds to complete the request."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  