{
    "openapi": "3.1.0",
    "info": {
      "title": "[Free] Extract Url | Jina",
      "description": "Extracts and vectorizes web content into LLM-friendly format using Jina's reader API. Supports various content extraction options including targeting specific elements, removing unwanted elements.",
      "version": "2.0.1"
    },
    "servers": [
      {
        "url": "https://r.jina.ai"
      }
    ],
    "paths": {
      "/{url}": {
        "post": {
          "operationId": "extract-Jina_r",
          "summary": "Extract content from URL",
          "description": "Retrieves and parses web content into LLM-friendly format with optional filtering",
          "parameters": [
            {
              "name": "url",
              "in": "path",
              "required": true,
              "description": "URL to extract content from",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful extraction",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer"
                      },
                      "status": {
                        "type": "integer"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "images": {
                            "type": "object"
                          },
                          "links": {
                            "type": "object"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "warning": {
                            "type": "string"
                          },
                          "usage": {
                            "type": "object"
                          }
                        }
                      },
                      "meta": {
                        "type": "object"
                      }
                    }
                  }
                },
                "text/plain": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  