{
    "openapi": "3.1.0",
    "info": {
      "title": "[Paid] AI Drawer | Dall-E 2/3",
      "description": "Generate images using OpenAI's image generation models including DALL-E 2, DALL-E 3",
      "version": "2.0.0"
    },
    "servers": [
      {
        "url": "https://api.openai.com"
      }
    ],
    "paths": {
      "/v1/images/generations": {
        "post": {
          "operationId": "generateImage-OpenAI_Dalle",
          "x-openai-isConsequential": false,
          "summary": "Generate images using OpenAI's image models",
          "description": "Create images from textual descriptions using DALL-E 2, DALL-E 3, and you'd better to translate the input prompt into English",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["model", "n", "prompt", "size"],
                  "properties": {
                    "model": {
                      "type": "string",
                      "description": "Model to use for image generation",
                      "enum": ["dall-e-2", "dall-e-3"],
                      "default": "dall-e-3"
                    },
                    "prompt": {
                      "type": "string",
                      "description": "Text description of the desired image. Max 4000 for dall-e-3, 1000 for dall-e-2",
                      "maxLength": 4000
                    },
                    "n": {
                      "type": "integer",
                      "description": "Number of images to generate (1-10). Only n=1 supported for dall-e-3",
                      "minimum": 1,
                      "maximum": 10,
                      "default": 1
                    },
                    "size": {
                      "type": "string",
                      "description": "Image size. For dall-e-2: 256x256, 512x512, 1024x1024. For dall-e-3: 1024x1024, 1792x1024, 1024x1792",
                      "default": "auto"
                    },
                    "quality": {
                      "type": "string",
                      "description": "Image quality(dall-e-3 only). For dall-e-3: hd, standard",
                      "default": "standard"
                    },
                    "style": {
                      "type": "string",
                      "description": "Image style (dall-e-3 only). Vivid is hyper-real/dramatic, natural is more realistic",
                      "enum": ["vivid", "natural"],
                      "default": "vivid"
                    },
                    "response_format": {
                      "type": "string",
                      "description": "Format for dall-e-2/3 images. URLs valid for 60 minutes.",
                      "enum": ["url", "b64_json"],
                      "default": "url"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successfully generated images",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "created": {
                        "type": "integer",
                        "description": "Unix timestamp of creation"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "URL to the generated image (if response_format=url)"
                            },
                            "b64_json": {
                              "type": "string",
                              "description": "Base64 encoded JSON of the image (if response_format=b64_json)"
                            },
                            "revised_prompt": {
                              "type": "string",
                              "description": "The prompt that was used to generate the image, potentially modified for dall-e-3"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  